<div class="reaction-container">
  <div class="emoji-buttons">
    <button mat-icon-button *ngFor="let emoji of emojis"
            (click)="react(emoji)"
            matTooltip="{{emoji}} tepkisi gönder ({{getEmojiIndex(emoji)}})">
      <span class="emoji">{{emoji}}</span>
    </button>
  </div>

  <div *ngFor="let item of activeEmojis"
       class="falling-emoji"
       [@emojiRain]="{
         value: '',
         params: {
           duration: item.duration,
           rotation: item.rotation
         }
       }"
       [style.left]="item.left"
       [style.font-size]="item.size">
    {{item.emoji}}
  </div>

  <div *ngIf="showMessage" class="reaction-message" @messageAnimation>
    {{currentMessage}}
  </div>
</div>
